<!DOCTYPE html>
<html>
<head>
    <title>Car Rental</title>
</head>
<body>
    <header>
        <h1><a href="/">Car Rental</a></h1>
        <nav>
            <a href="/">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
